@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', 'Open Sans', sans-serif;
}
header {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: 500;
}
header span {
    font-size: 1.25rem;
}
header a {
    color: #ffffff;
}
main {
    background-color: #f0eeeb;
}
.container {
    margin: 0 8rem;
}
.container.banner {
    padding: 3rem 0;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinkWrapper {
    display: flex;
}
.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navList .navItem {
    font-weight: 600;
    cursor: pointer;
}
.navList .navItem:not(:first-child) {
    margin-left: 1.5rem;
}
.buttonGroup button {
    cursor: pointer;
}
.buttonGroup .buttonLogin {
    border: none;
    background-color: transparent;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}
.buttonGroup .buttonStart {
    background-color: #000000;
    font-weight: 600;
    padding: 0.9375rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 6px;
}
.navBar .menu {
    display: none;
}
.detailWrapper {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heroImage {
    display: none;
    width: 100%;
}
.heroImage.desktop {
    display: block;
    max-width: 26rem;
}
.detailMain {
    margin-right: 6rem;
}
.detailMain .detailHeading {
    font-size: 3.5rem;
}
.detailMain .detailDescription {
    font-size: 1.15rem;
    color: #777267;
    margin-top: 0.5rem;
    line-height: 1.75rem;
}
.detailMain .detailBenefitList {
    margin-top: 1.25rem;
    list-style: none;
}
.detailBenefitList .detailBenefitListItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.detailBenefitList span {
    font-weight: 600;
    font-size: 1.15rem;
    margin-left: 0.9375rem;
}
.detailBenefitListItem svg {
    width: 20px;
}
.startForm {
    margin-top: 2rem;
}
.startForm .emailInputBanner {
    padding: 0.75rem 1.25rem;
    width: 12rem;
    font-size: 1rem;
}
.startForm button {
    background-color: #000000;
    font-weight: 600;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 6px;
    margin-left: 0.625rem;
}
.navBar .logo {
    font-size: 1.325rem;
}
.content {
    padding: 3rem 0;
    background-color: #ffffff;
}
.partnersList {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}
.partnersList::-webkit-scrollbar {
    display: none;
}
.partnersList {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.partnersList .partnersListItem {
    margin-left: 1.75rem;
}
.partnersListItem .partnersLogo {
    width: 100%;
}
.escrow {
    background-color: #f0eeeb;
    border-radius: 12px;
}
.phoneMockup {
    display: none;
    width: 100%;
}
.phoneMockup.desktop {
    display: block;
}
.escrow {
    margin-top: 3rem;
    position: relative;
    padding: 0 0 0 4rem;
    display: flex;
    align-items: center;
}
.escrowContentWrap {
    position: absolute;
    max-width: 30rem;
}
.escrowHeading {
    font-size: 2.5rem;
}
.escrowDescription {
    font-size: 1.15rem;
    color: #777267;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}
.escrowContentWrap .escrowLink {
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
}
.editor {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.texteditor {
    max-width: 40rem;
}
.editorContentWrap {
    max-width: 30rem;
}
.editorHeading {
    font-size: 2.5rem;
}
.editorDescription {
    font-size: 1.15rem;
    color: #777267;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}
.editorContentWrap .editorLink {
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
}
footer {
    background-color: #000;
    color: #fff;
}
.footerMainWrap {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerDetailWrap {
    flex: 0 0 30%;
}
.footerDetailWrap .footerDetailHeading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.footerDetailWrap .footerDetailDescription {
    color: #979797;
    line-height: 1.5rem;
}
.linksCommon {
    list-style: none;
}
.linksCommon .linksHeading {
    margin-bottom: 1rem;
}
.linksCommon .links {
    color: #979797;
    margin-bottom: 0.625rem;
}
@media screen and (max-width: 1200px) {
    header {
        padding: 0.75rem 0.75rem;
    }
    .container {
        margin: 0 6rem;
    }
    .detailMain {
        margin-right: 4rem;
    }
    .heroImage.desktop {
        max-width: 20rem;
    }
    .detailMain .detailHeading {
        font-size: 2.5rem;
    }
    .detailMain .detailDescription {
        font-size: 1rem;
    }
    .detailBenefitList span {
        font-size: 1.05rem;
    }
    .partnersListItem .partnersLogo {
        width: auto;
        max-width: 8rem;
    }
    .escrowHeading {
        font-size: 2rem;
    }
    .escrowDescription {
        font-size: 1rem;
    }
    .escrowContentWrap .escrowLink {
        font-size: 1.05rem;
    }
    .escrowContentWrap {
        max-width: 24rem;
    }
    .editorContentWrap {
        max-width: 100%;
    }
    .texteditor {
        margin-top: 2rem;
        max-width: 100%;
    }
    .editorHeading {
        font-size: 2rem;
    }
    .editorDescription {
        font-size: 1rem;
    }
    .editorContentWrap .editorLink {
        font-size: 1.05rem;
    }
}
@media screen and (max-width: 992px) {
    header {
        padding: 0.75rem 1.75rem;
    }
    .container {
        margin: 0 2rem;
    }
    .navBar .navList {
        margin-left: 6rem;
    }
    .navBar .buttonGroup {
        margin-left: 1rem;
    }
    .heroImage.desktop {
        display: none;
    }
    .heroImage.tablet {
        display: block;
    }
    .detailWrapper {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }
    .detailMain {
        margin-right: 0;
        margin-top: 2rem;
    }
    .navList .navItem,
    .buttonGroup .buttonLogin,
    .buttonGroup .buttonStart {
        font-size: 1.05rem;
    }
    .detailMain .detailHeading {
        font-size: 2.5rem;
    }
    .partnersListItem .partnersLogo {
        max-width: 7rem;
    }
    .detailBenefitList span,
    .detailMain .detailDescription {
        font-size: 1.15rem;
    }
    .phoneMockup.desktop {
        display: none;
    }
    .phoneMockup.tablet {
        display: block;
    }
    .escrow {
        flex-direction: column;
        padding: 3rem 0 0 0;
    }
    .escrowContentWrap {
        position: static;
        max-width: 30rem;
    }
    .footerMainWrap {
        justify-content: flex-start;        
        gap: 3rem;
    }
    .footerDetailWrap {
        flex: 0 0 60%;
    }
}
@media screen and (max-width: 700px) {
    .container {
        margin: 0 1.5rem;
    }
    .navBar {
        justify-content: space-between;
    }
    .navBar .navList,
    .navBar .buttonGroup {
        display: none;
    }
    .navBar .menu {
        display: block;
    }
    .heroImage.tablet {
        display: none;
    }
    .heroImage.mobile {
        display: block;
    }
    .detailMain .detailHeading {
        font-size: 2rem;
    }
    .detailMain .detailDescription {
        font-size: 1rem;
    }
    .detailBenefitList span {
        font-size: 1rem;
        margin-left: 0.75rem;
    }
    .partnersListItem .partnersLogo {
        max-width: 6rem;
    }
    .partnersList .partnersListItem {
        margin-left: 1.25rem;
    }
    .phoneMockup.tablet {
        display: none;
    }
    .phoneMockup.mobile {
        display: block;
    }
    .escrowContentWrap {
        padding: 0 3rem;
    }
    .footerDetailWrap {
        flex: 0 0 100%;
    }
}
@media screen and (max-width: 375px) {
    header {
        font-size: 0.875rem;
    }
    header span {
        font-size: 1.15rem;
    }
    .detailMain .detailHeading {
        font-size: 1.75rem;
    }
    .detailMain .detailDescription {
        font-size: 0.875rem;
    }
    .detailBenefitList span {
        font-size: 0.875rem;
    }
    .startForm .emailInputBanner {
        padding: 0.75rem;
        width: 10rem;
    }
    .startForm button {
        padding: 0.75rem;
        font-size: 0.875rem;
    }
    .escrowContentWrap {
        padding: 0 2rem;
    }
}
@media screen and (max-width: 325px) {
    header {
        padding: 0.625rem 0.75rem;
    }
}