@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: 500;
}
header span {
    font-size: 1.25rem;
}
header a {
    color: #ffffff;
}
main {
    background-color: #f0eeeb;
}
.container {
    margin: 0 8rem;
}
.container.banner {
    padding: 3rem 0;
}
.navBar {
    display: flex;
    justify-content: space-between;
}
.navLinkWrapper {
    display: flex;
}
.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navList .navItem {
    font-weight: 600;
    cursor: pointer;
}
.navList .navItem:not(:first-child) {
    margin-left: 1.5rem;
}
@media screen and (max-width: 1200px) {
    header {
        padding: 0.75rem 0.75rem;
    }
}
@media screen and (max-width: 992px) {
    header {
        padding: 0.75rem 1.75rem;
    }
}
@media screen and (max-width: 425px) {

}
@media screen and (max-width: 375px) {
    header {
        font-size: 0.875rem;
    }
    header span {
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 325px) {
    header {
        padding: 0.625rem 0.75rem;
    }
}